<%#
  Params:
  - region_name
  - build: the current Build
 %>
<div class="region">
  <h2><%= region_name %></h2>
  <div class="buildTitle"><%= build ? build.readable_name : 'N/A' %> 
   (commit <a href="javascript:void"><%= build ? build.short_commit : 'N/A' %></a>)</div>
  <div class="status">
    <div class="title" class="deploying"><%= build ? format_name(build.state) : 'N/A' %></div>
    <%# TODO(philc): I'm not sure if updated_at is the correct timestamp here to use. %>
    <div class="date">Ran <%= build ? format_time(build.updated_at) : 'N/A' %></div>
  </div>

  <div class="nextUp">
    <h4>Next up</h4>
    <%= latest_build.readable_name %> (Commit <%= latest_build.short_commit %>)
  </div>

  <h4>History</h4>
  <div class="history">
    <table>
      <% all_builds.each do |row| %>
      <tr><td class="build"><%= row.readable_name %> 
        (commit <%= row.short_commit %>)</td><td>
        <a href="/build_status/<%= row.id %>/<%= row.current_region %>">
          <%= format_name(row.state) %>
        </a></td></tr>
      <% end %>
    </table>
  </div>
</div>
