<%#
  Params:
  - region_name
 %>
<%
  in_progress_build = region.in_progress_build
  most_recent_build_status = region.build_history.first
  next_build = region.next_build
  has_current_build = in_progress_build || most_recent_build_status
  build_name = has_current_build ? (in_progress_build || most_recent_build_status.build).readable_name : nil
  build_date = has_current_build ? (in_progress_build || most_recent_build_status.build).updated_at : nil
%>

<div class="region">
  <h2><%= region.name %></h2>
  <div class="buildTitle">
    <%= build_name || "None" %>
  </div>

  <% if in_progress_build || most_recent_build_status %>
    <div class="status">
      <div class="title" class="deploying">
        <% if in_progress_build %>
          <%= format_name(in_progress_build.state) %>
          <% if in_progress_build.state == "awaiting_confirmation" %>
            <br/><button class="confirm green" build_id="<%= in_progress_build.id %>">Deploy to prod</button>
            <%= erb :monitoring_metrics, :locals => { :build => in_progress_build }  %>
          <% elsif in_progress_build.state == "monitoring_failed" %>
            <%= erb :monitoring_metrics, :locals => { :build => in_progress_build }  %>
          <% end %>
        <% elsif most_recent_build_status %>
          <a href="/build_status/<%= most_recent_build_status.id %>" target="_blank">
            <%= most_recent_build_status.message %></a>
          <% if (most_recent_build_status.build.state == "monitoring_failed") %>
            <%= erb :monitoring_metrics, :locals => { :build => most_recent_build_status.build }  %>
          <% end %>
        <% end %>
      </div>
      <%# TODO(philc): I'm not sure if updated_at is the correct timestamp here to use. %>
      <div class="date">ran <%= format_time(build_date) %></div>
    </div>
  <% end %>

  <div class="clear"></div>

  <div class="nextUp">
    <h4>Next up</h4>
    <% if next_build %>
      <%= next_build.readable_name %>
    <% else %>
      None
    <% end %>
  </div>

  <h4>Recent activity</h4>
  <div class="history">
    <% if region.build_history.empty? %>
      None
    <% else %>
      <table>
        <% region.build_history.each do |build_status| %>
          <tr>
            <td class="time">
              <span title="<%= build_status.created_at %>">
                <%= build_status.created_at.strftime("%l:%M%P") %>
              </span>
            </td>
            <td class="build">
              <%= build_status.build.readable_name %>
            </td>
            <td class="status">
              <a href="/build_status/<%= build_status.id %>" target="_blank"><%= build_status.message %></a>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
