<%#
  Params:
  - region_name
 %>
<%
  current_build = region.current_build
  next_build = region.next_build
%>

<div class="region">
  <h2><%= region.name %></h2>
  <div class="buildTitle">
    <%= current_build ? current_build.readable_name : "None" %>
  </div>

  <% if current_build %>
    <div class="status">
      <div class="title" class="deploying">
        <%= format_name(current_build.state) %>
        <% if current_build == "awaiting_confirmation" %>
          <br/><button class="confirm green" build_id="<%= current_build.id %>">Deploy to prod</button>
        <% end %>
      </div>
      <%# TODO(philc): I'm not sure if updated_at is the correct timestamp here to use. %>
      <div class="date">ran <%= format_time(current_build.updated_at) %></div>
    </div>
  <% end %>

  <div class="clear"></div>

  <div class="nextUp">
    <h4>Next up</h4>
    <% if next_build %>
      <%= next_build.readable_name %>
    <% else %>
      None
    <% end %>
  </div>

  <h4>Recent activity</h4>
  <div class="history">
    <% if region.build_history.empty? %>
      None
    <% else %>
      <table>
        <% region.build_history.each do |build_status| %>
          <tr>
            <td class="build"><%= build_status.build.readable_name %></td>
            <td>
              <a href="/build_status/<%= build_status.id %>" target="_blank"><%= build_status.message %></a>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
